.container {
    background: linear-gradient(to right, #cc00cc, #15308d);
}

.content{
 color: white;
 text-align: center;
}

.head{
    color: white;
    font-size: 50px;
    margin-top: 100px;
}
.para{
    color: white;
    font-weight: 300;
    margin-top: 30px;
    font-size: 15px;
}