body{
    text-align: center;
    justify-content: center;
   
  }

.Container {
    justify-content: center;
  
   
background-color: #811c81 ;

    /* clip-path: polygon(0 0, 75% 0%, 100% 0, 100% 100%, 62% 93%, 0 100%); */

 
   
    
}

.img{
    
    width: 100%;
    height: 250px;
    
}

.head{
    margin-top: 0px;
    color: white;
    text-shadow: 5px 10px #15308d;
    font-size: 35px;
    font-weight: 400;
    padding-top: 30px;
   
}
.head1{
    color: white;
    font-size: 25px;
    font-weight: 400;
}

h2{
  font-weight: 400;
  font-size: 25px;
}
p{
  font-weight: 600;
}
.zoom {
 
    transition: transform .3s; /* Animation */
    margin: 0 auto;
    justify-content: center;
  }
  
  .zoom:hover {
    transform:scale(1.1);
  }

  .grid{
    padding-bottom: 50px;
  }
  .grid1{
    justify-content: center;
  }