body{
  overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9f8cc9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(104, 10, 122); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(70, 6, 107); 
}